<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.agendajob.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.agendajob.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="agendajobs.edit({ agendajobId: vm.agendajob._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.agendajob.lastRunAt | date:'mediumDate'"></span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.agendajob.content"></p>
</section>
